Za začetek nastavimo obdobje iz katerega hočemo podatke in od katerih ekip. Vse ekipe niso nujno igrale v vseh letih, ker so se franšize ali preimenovale ali preselile v drugo mesto. S tem se ukvarjamo kasneje.

In [4]:
kratice = ['ATL', 'BOS', 'SAS', 'NJN', 'CHA', 'CHI', 'CLE', 
           'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 
           'LAL', 'MEM', 'MIA', 'MIL', 'MIN', 'NOH', 'NYK', 
           'OKC', 'ORL', 'PHI', 'PHO', 'POR', 'SAC', 'TOR',
           'UTA', 'WAS']
leta = list(range(1990, 2024))

Importamo vse potrebne libraryje, ki jih potrebujemo za obdelavo html strani: pandas, BeautifulSoup, seaborn so glavni, html5lib in StringIO so samo za določene funkcije, ki ju zahtevajo. Začnemo tako da odpremo datoteko in inicializiramo soup, ki parsa ta html. Tukej sem začel z enim primerom da sem vidu, če deluje in kaj rabim sploh naredit.

In [5]:
import pandas as pd 
import seaborn as sns
from bs4 import BeautifulSoup
from io import StringIO
import html5lib

base_dir = r"C:\Users\Timon\Desktop\PythonProjects\NBA_teams_through_years\NBA_TEAMS\{}\{}\{}_{}_games.html"
file_path = r"C:\Users\Timon\Desktop\PythonProjects\NBA_teams_through_years\NBA_TEAMS\ATL\1990\ATL_1990_games.html"

with open(file_path, encoding='utf-8') as f:
    page = f.read()
soup = BeautifulSoup(page, "html.parser")

Odstranimo nepotrebne vrstice

In [6]:
for tr in soup.find_all('tr', class_='thead'):
    tr.decompose()

In [7]:
games = soup.find(id = "games")

In [8]:
ATL_1990_games = pd.read_html(StringIO(str(games)))[0]

Preverimo, če smo dobili tabelo ki jo hočemo.

In [9]:
ATL_1990_games

,G,Date,Unnamed: 2,Unnamed: 3,Unnamed: 4,Opponent,Unnamed: 6,Unnamed: 7,Tm,Opp,W,L,Streak,Attend.,LOG,Notes
0,1,"Fri, Nov 3, 1989",NaN,Box Score,NaN,Indiana Pacers,L,NaN,103,126,0,1,L 1,15908,NaN,NaN
1,2,"Tue, Nov 7, 1989",NaN,Box Score,NaN,Washington Bullets,L,NaN,114,118,0,2,L 2,11756,NaN,NaN
2,3,"Fri, Nov 10, 1989",NaN,Box Score,@,Boston Celtics,L,NaN,106,117,0,3,L 3,14890,2:15,NaN
3,4,"Sat, Nov 11, 1989",NaN,Box Score,NaN,Orlando Magic,W,NaN,148,109,1,3,W 1,12505,NaN,NaN
4,5,"Mon, Nov 13, 1989",NaN,Box Score,@,Orlando Magic,W,NaN,112,104,2,3,W 2,15077,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,78,"Fri, Apr 13, 1990",NaN,Box Score,@,Detroit Pistons,W,NaN,115,111,38,40,W 3,21454,NaN,NaN
78,79,"Sat, Apr 14, 1990",NaN,Box Score,@,Milwaukee Bucks,L,NaN,93,109,38,41,L 1,18633,NaN,NaN
79,80,"Tue, Apr 17, 1990",NaN,Box Score,NaN,New Jersey Nets,W,NaN,118,95,39,41,W 1,11008,NaN,NaN
80,81,"Fri, Apr 20, 1990",NaN,Box Score,@,New York Knicks,W,NaN,126,112,40,41,W 2,18212,NaN,NaN
81,82,"Sat, Apr 21, 1990",NaN,Box Score,NaN,Miami Heat,W,NaN,130,109,41,41,W 3,13114,NaN,NaN

GREAT SUCCESS!

Glavna zanka, iteriramo skozi vse ekipe in leta, ki smo jih v prvem koraku specifirali in jih shranimo v slovar dfs (dataframes), katerega ključ so ekipa in leto (2D slovar je). Če pokličemo: 
dfs[ekipa][leto] -> dobimo tabelo za ekipo 'ekipa' v letu 'leto'. Ker nekatere ekipe v določenih letih niso obstajale, potrebujemo try/except stavek.

In [10]:
dfs = {}
for ekipa in kratice:
    df = {}
    for leto in leta:
        file_tmp = base_dir.format(ekipa, leto, ekipa, leto)
        try:
            with open(file_tmp, encoding='utf-8') as f_tmp:
                page_tmp = f_tmp.read()
            soup = BeautifulSoup(page_tmp, "html.parser")
            for tr in soup.find_all('tr', class_='thead'):
                tr.decompose()
            games_tmp = soup.find(id="games")
            if games_tmp is None:
                print(f"Ni tabele z id='games' za ekipo {ekipa} in leto {leto}")
                continue   
            games_ekipa_leto = pd.read_html(StringIO(str(games_tmp)))[0]
            df[leto] = games_ekipa_leto
        except Exception as e:
            print(f"Ni podatkov za ekipo {ekipa} in leto {leto}: {e}")
            continue
    dfs[ekipa] = df

Ni tabele z id='games' za ekipo NJN in leto 2013
Ni tabele z id='games' za ekipo NJN in leto 2014
Ni tabele z id='games' za ekipo NJN in leto 2015
Ni tabele z id='games' za ekipo NJN in leto 2016
Ni tabele z id='games' za ekipo NJN in leto 2017
Ni tabele z id='games' za ekipo NJN in leto 2018
Ni tabele z id='games' za ekipo NJN in leto 2019
Ni tabele z id='games' za ekipo NJN in leto 2020
Ni tabele z id='games' za ekipo NJN in leto 2021
Ni tabele z id='games' za ekipo NJN in leto 2022
Ni tabele z id='games' za ekipo NJN in leto 2023
Ni tabele z id='games' za ekipo CHA in leto 1990
Ni tabele z id='games' za ekipo CHA in leto 1991
Ni tabele z id='games' za ekipo CHA in leto 1992
Ni tabele z id='games' za ekipo CHA in leto 1993
Ni tabele z id='games' za ekipo CHA in leto 1994
Ni tabele z id='games' za ekipo CHA in leto 1995
Ni tabele z id='games' za ekipo CHA in leto 1996
Ni tabele z id='games' za ekipo CHA in leto 1997
Ni tabele z id='games' za ekipo CHA in leto 1998
Ni tabele z id='games' za ekipo CHA in leto 1999
Ni tabele z id='games' za ekipo CHA in leto 2000
Ni tabele z id='games' za ekipo CHA in leto 2001
Ni tabele z id='games' za ekipo CHA in leto 2002
Ni tabele z id='games' za ekipo CHA in leto 2003
Ni tabele z id='games' za ekipo CHA in leto 2004
Ni tabele z id='games' za ekipo CHA in leto 2015
Ni tabele z id='games' za ekipo CHA in leto 2016
Ni tabele z id='games' za ekipo CHA in leto 2017
Ni tabele z id='games' za ekipo CHA in leto 2018
Ni tabele z id='games' za ekipo CHA in leto 2019
Ni tabele z id='games' za ekipo CHA in leto 2020
Ni tabele z id='games' za ekipo CHA in leto 2021
Ni tabele z id='games' za ekipo CHA in leto 2022
Ni tabele z id='games' za ekipo CHA in leto 2023
Ni tabele z id='games' za ekipo MEM in leto 1990
Ni tabele z id='games' za ekipo MEM in leto 1991
Ni tabele z id='games' za ekipo MEM in leto 1992
Ni tabele z id='games' za ekipo MEM in leto 1993
Ni tabele z id='games' za ekipo MEM in leto 1994
Ni tabele z id='games' za ekipo MEM in leto 1995
Ni tabele z id='games' za ekipo MEM in leto 1996
Ni tabele z id='games' za ekipo MEM in leto 1997
Ni tabele z id='games' za ekipo MEM in leto 1998
Ni tabele z id='games' za ekipo MEM in leto 1999
Ni tabele z id='games' za ekipo MEM in leto 2000
Ni tabele z id='games' za ekipo MEM in leto 2001
Ni tabele z id='games' za ekipo NOH in leto 1990
Ni tabele z id='games' za ekipo NOH in leto 1991
Ni tabele z id='games' za ekipo NOH in leto 1992
Ni tabele z id='games' za ekipo NOH in leto 1993
Ni tabele z id='games' za ekipo NOH in leto 1994
Ni tabele z id='games' za ekipo NOH in leto 1995
Ni tabele z id='games' za ekipo NOH in leto 1996
Ni tabele z id='games' za ekipo NOH in leto 1997
Ni tabele z id='games' za ekipo NOH in leto 1998
Ni tabele z id='games' za ekipo NOH in leto 1999
Ni tabele z id='games' za ekipo NOH in leto 2000
Ni tabele z id='games' za ekipo NOH in leto 2001
Ni tabele z id='games' za ekipo NOH in leto 2002
Ni tabele z id='games' za ekipo NOH in leto 2006
Ni tabele z id='games' za ekipo NOH in leto 2007
Ni tabele z id='games' za ekipo NOH in leto 2014
Ni tabele z id='games' za ekipo NOH in leto 2015
Ni tabele z id='games' za ekipo NOH in leto 2016
Ni tabele z id='games' za ekipo NOH in leto 2017
Ni tabele z id='games' za ekipo NOH in leto 2018
Ni tabele z id='games' za ekipo NOH in leto 2019
Ni tabele z id='games' za ekipo NOH in leto 2020
Ni tabele z id='games' za ekipo NOH in leto 2021
Ni tabele z id='games' za ekipo NOH in leto 2022
Ni tabele z id='games' za ekipo NOH in leto 2023
Ni tabele z id='games' za ekipo OKC in leto 1990
Ni tabele z id='games' za ekipo OKC in leto 1991
Ni tabele z id='games' za ekipo OKC in leto 1992
Ni tabele z id='games' za ekipo OKC in leto 1993
Ni tabele z id='games' za ekipo OKC in leto 1994
Ni tabele z id='games' za ekipo OKC in leto 1995
Ni tabele z id='games' za ekipo OKC in leto 1996
Ni tabele z id='games' za ekipo OKC in leto 1997
Ni tabele z id='games' za ekipo OKC in leto 1998
Ni tabele z id='games' za ekipo OKC in leto 1999
Ni tabele z id='games' za ekipo OKC in leto 2000
Ni tabele z id='games' za ekipo OKC in leto 2001
Ni tabele z id='games' za ekipo OKC in leto 2002
Ni tabele z id='games' za ekipo OKC in leto 2003
Ni tabele z id='games' za ekipo OKC in leto 2004
Ni tabele z id='games' za ekipo OKC in leto 2005
Ni tabele z id='games' za ekipo OKC in leto 2006
Ni tabele z id='games' za ekipo OKC in leto 2007
Ni tabele z id='games' za ekipo OKC in leto 2008
Ni tabele z id='games' za ekipo TOR in leto 1990
Ni tabele z id='games' za ekipo TOR in leto 1991
Ni tabele z id='games' za ekipo TOR in leto 1992
Ni tabele z id='games' za ekipo TOR in leto 1993
Ni tabele z id='games' za ekipo TOR in leto 1994
Ni tabele z id='games' za ekipo TOR in leto 1995
Ni tabele z id='games' za ekipo WAS in leto 1990
Ni tabele z id='games' za ekipo WAS in leto 1991
Ni tabele z id='games' za ekipo WAS in leto 1992
Ni tabele z id='games' za ekipo WAS in leto 1993
Ni tabele z id='games' za ekipo WAS in leto 1994
Ni tabele z id='games' za ekipo WAS in leto 1995
Ni tabele z id='games' za ekipo WAS in leto 1996
Ni tabele z id='games' za ekipo WAS in leto 1997

Primer:

In [11]:
dfs['BOS'][1992]

,G,Date,Unnamed: 2,Unnamed: 3,Unnamed: 4,Opponent,Unnamed: 6,Unnamed: 7,Tm,Opp,W,L,Streak,Attend.,LOG,Notes
0,1,"Fri, Nov 1, 1991",NaN,Box Score,NaN,Charlotte Hornets,W,NaN,111,108,1,0,W 1,14890,2:16,NaN
1,2,"Sat, Nov 2, 1991",NaN,Box Score,@,Washington Bullets,L,OT,118,126,1,1,L 1,18756,2:20,NaN
2,3,"Tue, Nov 5, 1991",NaN,Box Score,@,Miami Heat,W,NaN,93,89,2,1,W 1,15008,2:23,NaN
3,4,"Wed, Nov 6, 1991",NaN,Box Score,NaN,Chicago Bulls,L,NaN,113,132,2,2,L 1,14890,2:07,NaN
4,5,"Fri, Nov 8, 1991",NaN,Box Score,NaN,Atlanta Hawks,L,NaN,95,100,2,3,L 2,14890,2:08,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,78,"Fri, Apr 10, 1992",NaN,Box Score,NaN,Milwaukee Bucks,W,NaN,109,100,47,31,W 4,14890,1:53,NaN
78,79,"Sun, Apr 12, 1992",NaN,Box Score,@,Charlotte Hornets,W,NaN,128,102,48,31,W 5,23698,1:48,NaN
79,80,"Tue, Apr 14, 1992",NaN,Box Score,@,Philadelphia 76ers,W,NaN,99,94,49,31,W 6,16240,2:04,NaN
80,81,"Wed, Apr 15, 1992",NaN,Box Score,@,Detroit Pistons,W,NaN,92,89,50,31,W 7,21454,2:06,NaN
81,82,"Sun, Apr 19, 1992",NaN,Box Score,NaN,Miami Heat,W,NaN,109,93,51,31,W 8,14890,1:53,NaN

In [12]:
import pickle as pkl 

with open("vsi_podatki.pkl", "wb") as f:
    pkl.dump(dfs, f)